ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080
APP_PORT=8081
DB_PORT=1433

ConnectionStrings__DefaultConnection=Server=database,1433;Database=CalendarDb;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=true;Encrypt=False;

MSSQL_SA_PASSWORD=YourStrong!Passw0rd
MSSQL_PID=Developer
